@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Use Poppins as the default font */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif; /* Cleaner font setting */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
